<!DOCTYPE html>
<html lang="en">
{%- set pageTitle %}{% if title %}{{ title }} | {% endif %}{{ site.name}}{% endset -%}
{%- set pageDescription %}{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}{% endset -%}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ pageTitle }}</title>
  <meta name="description" content="{{ pageDescription }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
  {% if site.gtagId %}
  {%- set gtag = site.gtagId -%}
  {%- from "macros/analytics.njk" import gtagId -%}{{ gtagId(gtag)}}
  {% endif %}
</head>

<body>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
<main class="space-travel">
  {{ content | safe }}
  {% include "footer.njk" %}
</main>
</body>
</html>
