<!DOCTYPE html>
<html lang="en">

{% include "head.njk" %}

<body>
{% include "direction.njk" %}
{% include "stars.njk" %}
<div class="ship">
  <div class="wrapper">
  {{ content | safe }}
  </div>
</div>
{% include "footer.njk" %}
</body>
</html>
